<!-- <nav class="navbar">
    <div class="container">
      <a routerLink="/" class="logo">Igor Yuda</a>
      <ul class="nav-links">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/skills">Skills</a></li>
        <li><a routerLink="/featured-projects">Projects</a></li>
        <li><a routerLink="/resume">Resume</a></li>
        <li><a routerLink="/contact">Contact</a></li>
      </ul>
    </div>
  </nav> -->
   
   <nav class="navbar">
    <div class="container">
      <a href="#home" class="logo">Igor Yuda</a>
      <ul class="nav-links">
        <li><a href="#home">Home</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#resume">Resume</a></li>
        <li><a href="#contact">Contact</a></li>
<!--         <li><a href="/iyuda-portfolio/#/finance-dashboard" target="_blank" rel="noopener noreferrer">📈 Stocks</a>/li>
          <li><a routerLink="/finance-dashboard">📈 Stocks</a></li>
          <li><a [routerLink]="['/finance-dashboard']" target="_blank">📈 Stocks</a></li> -->
        

      </ul>
    </div>
  </nav>