// @tailwind base;
// @tailwind components;
// @tailwind utilities;
.hero, .skills, .projects, .resume, .contact {
    text-align: center;
    padding: 20px;
  }
  .btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background: #007acc;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  /* styles.scss */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f9f9f9;
  color: #222;
  line-height: 1.6;
}

section {
  padding: 4rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #007BFF;
  transition: color 0.3s ease;
}
html {
  scroll-behavior: smooth;
}
.group .submenu {
  display: none;
}

.group:hover .submenu {
  display: block;
}
.text-white {
  color: white;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem; /* space between links */
  list-style: none;
  padding: 0;
  margin: 0 auto;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  font-size: 1rem;
  color: white;
  text-decoration: none;
}

